/*@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
*/
:root{
    --maroon : maroon;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
header{
    background-color: rgb(191, 0, 34);
    color: whitesmoke;
    padding: 20px 8px;
    display: flex;
    text-align: left;
}
footer {
    text-align: center;
    padding: 20px 10px;
    background-color: #590b0b;
    color: whitesmoke;
}
footer.p{
    text-align: left;
}
/* navbar */
.navbar{
    background-color: maroon;
    overflow:hidden;
}
.navbar a{
    float:left; 
    color:whitesmoke; 
    text-align: center;
    padding: 14px 16px;
    font-size: 18px;
    text-decoration: none;
}
.navbar a:hover, .dropdown:hover .dropbtn{
    background-color: whitesmoke;
    color: maroon;
}
/*nav bar dropdown button*/
.dropdown{
    float:left; 
    overflow:hidden; 
}
.dropdown .dropbtn{
    text-align: center;
    border:none; 
    outline: none; 
    padding: 14px 16px; 
    background-color: maroon;
    color:whitesmoke; 
    font-size: 18px;
    font-family: inherit;
    margin:0; 
}
.dropdown-content{
    display: none;
    position:absolute; 
    background-color: whitesmoke;
    z-index: 3000;
}
.dropdown-content a{
    float:none; 
    color: maroon;
    padding: 10px 10px;
    display: block;
    text-align: left;
    font-size: 16px;
}
.dropdown-content a:hover{
    background-color: rgb(208, 208, 208);
}
.dropdown:hover .dropdown-content{
    display: block;
}

/* menu */
.menu-title{
    margin-top: 3rem;
}
.menu-title  span{
    font-size: 2rem;
    font-weight: 700;
    width: 10%;
    color: #182433;
    border-bottom: 5px solid var(--maroon);
}
.catagories ul {
    display: flex;
    list-style: none;
    justify-content: center;
    margin-top: 30px;
}
.catagories ul li {
    margin: 10px;
    padding: 5px 10px;
    font-size: 1rem;
    border: 2px solid var(--maroon);
    border-radius: 5px;
    color: var(--maroon)
}
.catagories ul li:hover{
    background-color: var(--maroon);
    color: white;
}
/* content */
.content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content .c-image {
    width: 1000px;
    height: 160px;
    border: 3px solid var(--maroon);
    border-radius: 4px;
}
.content .c-image img {
    width: 100%;
    height: 100%;
}
.content .t-n-p{
    margin-left: 20px;
    width: 1000px;
}
.content .t-n-p .heading{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dotted #182433;
  padding: 0px 5px;
}
.content .t-n-p .title {
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 2px;
}
.content .t-n-p .price {
    font-size: 0.8rem;
    font-weight: 800;
    color: var(--maroon);
    word-spacing: 2px;
}
.content .t-n-p .des p{
    font-size: 0.9rem;
}